<ion-header>

  <ion-navbar color="primary">
    <ion-title>Vender</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label floating>Quantidade</ion-label>
            <ion-input [(ngModel)]="offer.quantity" type="number"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Produto</ion-label>
            <ion-select [(ngModel)]="offer.product">
              <ion-option *ngFor="let product of products" value="{{ product.id }}">{{ product.name }}</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Unit</ion-label>
            <ion-select [(ngModel)]="offer.unit">
              <ion-option *ngFor="let unit of units" value="{{ unit.id }}">{{ unit.name }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-card-content>
        <ion-row>
            <button ion-button block (click)="inserirOffer()">Cadastrar</button>
        </ion-row>
      </ion-card>
</ion-content>
